body {
    padding: 16px;
    background-color: #f1f1f1;
}
.table> tbody> tr> td, th {
    vertical-align: middle;
}
.table {
    margin: 0;
}
.search-bar {
    width: 320px;
    margin-bottom: 8px;
}
.btn-fab {
    position: fixed;
    bottom: 24px;
    right: 32px;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.btn-fab:hover {
    opacity: 1;
}
.title {
    text-align:center;
}
button.btn-submit {
    margin-top: 8px;
}